Library/
UnityVS.No shit Sherlock.CSharp.Editor.csproj
UnityVS.No shit Sherlock.CSharp.Plugins.csproj
UnityVS.No shit Sherlock.CSharp.csproj
UnityVS.No shit Sherlock.sln
UnityVS.No shit Sherlock.sln.ide/
obj/
